In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./fairface_label_train.csv')
df

                  file           age  gender        race  service_test
0          train/1.jpg         50-59    Male  East Asian          True
1          train/2.jpg         30-39  Female      Indian         False
2          train/3.jpg           3-9  Female       Black         False
3          train/4.jpg         20-29  Female      Indian          True
4          train/5.jpg         20-29  Female      Indian          True
...                ...           ...     ...         ...           ...
86739  train/86740.jpg         20-29    Male      Indian          True
86740  train/86741.jpg         10-19    Male      Indian          True
86741  train/86742.jpg  more than 70  Female      Indian          True
86742  train/86743.jpg         10-19  Female       Black          True
86743  train/86744.jpg         40-49    Male       White         False

[86744 rows x 5 columns]

In [14]:
age_list = df['age'].unique().tolist()

In [24]:
sorted(age_list)

['0-2',
 '10-19',
 '20-29',
 '3-9',
 '30-39',
 '40-49',
 '50-59',
 '60-69',
 'more than 70']

In [13]:
gender_list = df['gender'].unique().tolist()

In [25]:
race_list = df['race'].unique().tolist()
sorted(race_list)

['Black',
 'East Asian',
 'Indian',
 'Latino_Hispanic',
 'Middle Eastern',
 'Southeast Asian',
 'White']

In [18]:

agr=[]
for age in age_list:
    for gender in gender_list:
        for race in race_list:
            agr.append([age, gender,race])

len(agr)

In [19]:
len(agr)

126

In [20]:
agr

[['50-59', 'Male', 'East Asian'],
 ['50-59', 'Male', 'Indian'],
 ['50-59', 'Male', 'Black'],
 ['50-59', 'Male', 'White'],
 ['50-59', 'Male', 'Middle Eastern'],
 ['50-59', 'Male', 'Latino_Hispanic'],
 ['50-59', 'Male', 'Southeast Asian'],
 ['50-59', 'Female', 'East Asian'],
 ['50-59', 'Female', 'Indian'],
 ['50-59', 'Female', 'Black'],
 ['50-59', 'Female', 'White'],
 ['50-59', 'Female', 'Middle Eastern'],
 ['50-59', 'Female', 'Latino_Hispanic'],
 ['50-59', 'Female', 'Southeast Asian'],
 ['30-39', 'Male', 'East Asian'],
 ['30-39', 'Male', 'Indian'],
 ['30-39', 'Male', 'Black'],
 ['30-39', 'Male', 'White'],
 ['30-39', 'Male', 'Middle Eastern'],
 ['30-39', 'Male', 'Latino_Hispanic'],
 ['30-39', 'Male', 'Southeast Asian'],
 ['30-39', 'Female', 'East Asian'],
 ['30-39', 'Female', 'Indian'],
 ['30-39', 'Female', 'Black'],
 ['30-39', 'Female', 'White'],
 ['30-39', 'Female', 'Middle Eastern'],
 ['30-39', 'Female', 'Latino_Hispanic'],
 ['30-39', 'Female', 'Southeast Asian'],
 ['3-9', 'Male', 'East Asian'],
 ['3-9', 'Male', 'Indian'],
 ['3-9', 'Male', 'Black'],
 ['3-9', 'Male', 'White'],
 ['3-9', 'Male', 'Middle Eastern'],
 ['3-9', 'Male', 'Latino_Hispanic'],
 ['3-9', 'Male', 'Southeast Asian'],
 ['3-9', 'Female', 'East Asian'],
 ['3-9', 'Female', 'Indian'],
 ['3-9', 'Female', 'Black'],
 ['3-9', 'Female', 'White'],
 ['3-9', 'Female', 'Middle Eastern'],
 ['3-9', 'Female', 'Latino_Hispanic'],
 ['3-9', 'Female', 'Southeast Asian'],
 ['20-29', 'Male', 'East Asian'],
 ['20-29', 'Male', 'Indian'],
 ['20-29', 'Male', 'Black'],
 ['20-29', 'Male', 'White'],
 ['20-29', 'Male', 'Middle Eastern'],
 ['20-29', 'Male', 'Latino_Hispanic'],
 ['20-29', 'Male', 'Southeast Asian'],
 ['20-29', 'Female', 'East Asian'],
 ['20-29', 'Female', 'Indian'],
 ['20-29', 'Female', 'Black'],
 ['20-29', 'Female', 'White'],
 ['20-29', 'Female', 'Middle Eastern'],
 ['20-29', 'Female', 'Latino_Hispanic'],
 ['20-29', 'Female', 'Southeast Asian'],
 ['40-49', 'Male', 'East Asian'],
 ['40-49', 'Male', 'Indian'],
 ['40-49', 'Male', 'Black'],
 ['40-49', 'Male', 'White'],
 ['40-49', 'Male', 'Middle Eastern'],
 ['40-49', 'Male', 'Latino_Hispanic'],
 ['40-49', 'Male', 'Southeast Asian'],
 ['40-49', 'Female', 'East Asian'],
 ['40-49', 'Female', 'Indian'],
 ['40-49', 'Female', 'Black'],
 ['40-49', 'Female', 'White'],
 ['40-49', 'Female', 'Middle Eastern'],
 ['40-49', 'Female', 'Latino_Hispanic'],
 ['40-49', 'Female', 'Southeast Asian'],
 ['10-19', 'Male', 'East Asian'],
 ['10-19', 'Male', 'Indian'],
 ['10-19', 'Male', 'Black'],
 ['10-19', 'Male', 'White'],
 ['10-19', 'Male', 'Middle Eastern'],
 ['10-19', 'Male', 'Latino_Hispanic'],
 ['10-19', 'Male', 'Southeast Asian'],
 ['10-19', 'Female', 'East Asian'],
 ['10-19', 'Female', 'Indian'],
 ['10-19', 'Female', 'Black'],
 ['10-19', 'Female', 'White'],
 ['10-19', 'Female', 'Middle Eastern'],
 ['10-19', 'Female', 'Latino_Hispanic'],
 ['10-19', 'Female', 'Southeast Asian'],
 ['60-69', 'Male', 'East Asian'],
 ['60-69', 'Male', 'Indian'],
 ['60-69', 'Male', 'Black'],
 ['60-69', 'Male', 'White'],
 ['60-69', 'Male', 'Middle Eastern'],
 ['60-69', 'Male', 'Latino_Hispanic'],
 ['60-69', 'Male', 'Southeast Asian'],
 ['60-69', 'Female', 'East Asian'],
 ['60-69', 'Female', 'Indian'],
 ['60-69', 'Female', 'Black'],
 ['60-69', 'Female', 'White'],
 ['60-69', 'Female', 'Middle Eastern'],
 ['60-69', 'Female', 'Latino_Hispanic'],
 ['60-69', 'Female', 'Southeast Asian'],
 ['0-2', 'Male', 'East Asian'],
 ['0-2', 'Male', 'Indian'],
 ['0-2', 'Male', 'Black'],
 ['0-2', 'Male', 'White'],
 ['0-2', 'Male', 'Middle Eastern'],
 ['0-2', 'Male', 'Latino_Hispanic'],
 ['0-2', 'Male', 'Southeast Asian'],
 ['0-2', 'Female', 'East Asian'],
 ['0-2', 'Female', 'Indian'],
 ['0-2', 'Female', 'Black'],
 ['0-2', 'Female', 'White'],
 ['0-2', 'Female', 'Middle Eastern'],
 ['0-2', 'Female', 'Latino_Hispanic'],
 ['0-2', 'Female', 'Southeast Asian'],
 ['more than 70', 'Male', 'East Asian'],
 ['more than 70', 'Male', 'Indian'],
 ['more than 70', 'Male', 'Black'],
 ['more than 70', 'Male', 'White'],
 ['more than 70', 'Male', 'Middle Eastern'],
 ['more than 70', 'Male', 'Latino_Hispanic'],
 ['more than 70', 'Male', 'Southeast Asian'],
 ['more than 70', 'Female', 'East Asian'],
 ['more than 70', 'Female', 'Indian'],
 ['more than 70', 'Female', 'Black'],
 ['more than 70', 'Female', 'White'],
 ['more than 70', 'Female', 'Middle Eastern'],
 ['more than 70', 'Female', 'Latino_Hispanic'],
 ['more than 70', 'Female', 'Southeast Asian']]

In [35]:
agr[0][0]

'50-59'

In [45]:
df.query("gender == 'Female'")

#dataFrame.query('Salary  <= 100000 & Age < 40 & JOB.str.startswith("C").values')

                  file           age  gender             race  service_test
1          train/2.jpg         30-39  Female           Indian         False
2          train/3.jpg           3-9  Female            Black         False
3          train/4.jpg         20-29  Female           Indian          True
4          train/5.jpg         20-29  Female           Indian          True
7          train/8.jpg         30-39  Female           Indian          True
...                ...           ...     ...              ...           ...
86731  train/86732.jpg         20-29  Female  Latino_Hispanic         False
86732  train/86733.jpg         40-49  Female            White         False
86734  train/86735.jpg         10-19  Female           Indian          True
86741  train/86742.jpg  more than 70  Female           Indian          True
86742  train/86743.jpg         10-19  Female            Black          True

[40758 rows x 5 columns]

In [63]:
df2 = pd.DataFrame()
df2

Empty DataFrame
Columns: []
Index: []

In [65]:
for i in range(len(agr)):
    df2 = df2.append((df.loc[(df['age'] == agr[i][0]) & (df['gender'] == agr[i][1]) & (df['race'] == agr[i][2])].head(20)))

df2.head()

              file    age gender        race  service_test
0      train/1.jpg  50-59   Male  East Asian          True
10    train/11.jpg  50-59   Male  East Asian          True
104  train/105.jpg  50-59   Male  East Asian         False
352  train/353.jpg  50-59   Male  East Asian          True
397  train/398.jpg  50-59   Male  East Asian          True

In [67]:
len(df2)

2520

In [87]:
d = 'more than 70/East Asian'
d.replace(" ",'_')

r = "train/1.jpg"
r.subset()

'more_than_70/East_Asian'

In [102]:
import os
import os.path

import shutil

def copy_ffile_subset(row):
    srcdir = './archive/'
    desdir = './subset/'
    
    train_or_test = row[0].split('/')
    d = desdir + row[3] + '/' + row[2] + '/' + row[1] + '/' + train_or_test[0] + "/"
    if not os.path.exists(d):
        os.makedirs(d)
    #print(str(row))
    src = srcdir + row[0]
    dst = d + train_or_test[1]
    
    #print(dst) 
    shutil.copyfile(src, dst)

In [103]:
df2.apply(copy_ffile_subset, axis=1 )

0        None
10       None
104      None
352      None
397      None
         ...
11125    None
12271    None
12459    None
12632    None
13713    None
Length: 2520, dtype: object